apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices-auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: order-service:latest
        imagePullPolicy: Never
        env:
        - name: PORT
          value: "6000"
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: MONGO_URI
        - name: AUTH_SERVICE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: AUTH_SERVICE_URL
        - name: PRODUCT_SERVICE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: PRODUCT_SERVICE_URL
        - name: USER_SERVICE_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: USER_SERVICE_URL
        ports:
        - containerPort: 6000
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices-auth
spec:
  selector:
    app: order-service
  ports:
  - port: 6000
    targetPort: 6000
